* {
    font-family: "Lucida Grande", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
h2 { font-size: 1.8em; }

body{
    background-color: #f7f7f7;

}
a{
    text-decoration: none;
    color: #111111;
}
a:hover{
    text-decoration: none;
    color: red;
}
p {
    font-family: "Georgia", "Times New Roman", "Songti SC", "SimSun", serif;
    text-align: justify;
    word-break: break-all;
    font-size: 16px;
}


.wrapper
{
    width: 80%;
    height: 2500px;
    margin: 0 auto;
    border-radius: 3px;
    background-color:#fff;
    padding-left:14px ;
    padding-right: 14px;
}

/* header-navbal */
.navbar ul
{
    float: left;
    margin-left: 10%;
    list-style-type: none;
    padding-left: 24px;
}
.navbar ul li
{
    font-size: 13px;
    display: inline;
    float: left;
    padding-left: 10px;
    line-height: 40px;
    height: 40px;
}
.navbar ul li a
{
    font-weight: bold;
    padding: 6px;
    text-align: center;
    color: dimgray;
}
.navbar ul li a:hover
{
    color: snow;
    font-size: 14px;
}
/* header-logber */
#container{
    width: 1414px;
    height: auto;
}
#logbar{
    height: 40px;
    background-color: #363636;
}

#logbar ul
{
    float: right;
    width: 324px;
    padding: 0;
    list-style: none;
}
#logbar ul li
{
    font-weight: bold;
    line-height: 40px;
    float: left;
    width: 94px;
    height: 40px;
    margin-right: 13px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-radius: 3px;
    background-color: #111;
}
#logbar ul li a
{
    display: block;
    width: 94px;
    height: 40px;
    color: #d3d3d3;
    border-radius: 3px;

}
#logbar ul li a:hover
{
    border-radius: 3px;
    background-color: #fff;
}
#logbar ul li ul li
{
    float: none;
    width: 94px;
    margin: 0;
    border-radius: 3px;
}
#logbar ul li ul
{
    display: none;
    width: 94px;
    margin-top: 0;
}
#logbar ul li.listshow ul
{
    display: block;
}
#logbar ul li ul li a {
    width: 94px;
    border-radius: 3px;
    background: none;  /*现在把下拉列表的背景图片去掉*/
}
#logbar ul li ul li a:hover {
    color: #000;
    background: #eee;
}
#logout1,#logout2{
    float: right;
    font-size: 13px;
    line-height: 40px;
    height: 40px;
}
#logout1{
    margin-right: 164px;
    margin-left: 14px;
}

#logout2{
    float: right;
    margin-right: 28px;
    color: white;
}
#logout1:link
{

    text-align: center;

}
#logout1:hover {
    color: snow;
    font-size: 14px;
}
/*header */

.header-logo{
    height: 90px;
}
.header-logo img{
    width: 131px;
    display: block;
    float: left;
    margin-left: 18px;
    margin-top: 30px;
}
#header-logo-weather{
    width: 131px;
    height: 30px;
    float: left;
    margin-left: 16px;
    margin-top: 30px;
}
#header-logo-weather p{
     margin-bottom: .7em;
 }
.weather img{
    width: 49px;
    height: 32px;
}
/*header-nav*/
.header-nav{
    height: auto;
    width: auto;
}
.header-nav-list{
    width: 366px;
    height: 60px;
    float: left;

}
.header-nav-list a{
    display: block;
    float: left;
    width: 69px;
    height: 16px;
    margin: 8px 11px;
    color: black;
}
.header-nav-list a:hover{
    color: red;
    font-weight: bold;
}
.header-nav-list3{
    margin-right: 0;

}
.header-nav-slice1{
    position: absolute;
    top:140px;
    left: 498px;
 }
.header-nav-slice2{
    position: absolute;
    top:140px;
    left:866px;
}
.header-nav-slice1 img,.header-nav-slice2 img{
    width: 2px;
    height: 47px;
}
.content{
}
.container{
    height: 440px;
}
.col-left{
    width: 850px;
    height: 440px;
    float: left;
    margin-top: 15px;
}
.col-right{
    width: 264px;
    height: 440px;
    float: right;
    margin-top: 15px;
}
.col-left a h4,.col-right a h4{
    color:black;
}
.col-left a h4:hover,.col-right a h4:hover{
    color: red;
}
.col-right-slice{
    width: 75px;
    height: 3px;
    background-color: red;
}
.col-right-slice1{
    width: 100%;
    height: 1px;
    background-color: silver;
    margin-bottom: 20px;
}
/*内容右边内容*/
.col-right-content{
    width: 264px;
    height: 90px;
    margin-bottom: 10px;
}
.col-right-content img{
    width: 90px;
    height: 90px;
    display: block;
    float: left;
}
.col-right-content-word{
    width: 165px;
    height: 90px;
    float: left;
    margin-left: 5px;
}
.container2{
    height: 250px;
}
.col-right-content2{
    height: 180px;
}

.col-right-content2 ul li{

    float: left;
    width: 350px;
    height: 20px;
    margin-right: 10px;
    margin-left: 20px;
}
.col-right-content2 ul li a{
    font-size: 16px;
}
.container2{
    height: 250px;
}
.col-left2{
    width: 850px;
    height: 250px;
    float: left;
    margin-top: 15px;
}
.col-right2{
    width: 264px;
    height: 250px;
    float: right;
    margin-top: 15px;
}
.col-right2-content{
    margin-left: 20px;
    line-height: 25px;
}


.col-right-content4{
    width: 283px;
    height: 142px;
    margin-bottom: 10px;
    float: left;
}
.col-right-content4 img{
    width: 110px;
    height: 142px;
    display: block;
    float: left;
}
.col-right-content-word4{
    width: 165px;
    height: 90px;
    float: left;
    margin-left: 5px;
}
.container4{
    height: 530px;

}
.col-left4{
    width: 850px;
    height: 330px;
    float: left;
    margin-top: 15px;
}
.col-right4{
    width: 264px;
    height: 330px;
    float: right;
    margin-top: 15px;
}
.col-right-content4{
    float: left;
}
。col-right-content4 ul li{
    float: left;
    width: 264px;
    height: 20px;
}
.col-left4 ul{
    margin-left: 20px;
    font-size: 18px;
}

/*footer*/
.footer{
    width: 100%;
    height: 266px;
    background-color: #333333;

    color: white;
}
.navbar1{
    height: 40px;
    padding-top: 74px;
    padding-left: 29%;
}
.navbar1 ul
{
    list-style-type: none;
    padding-left: 40px;

    margin-bottom: 1em;
}
.navbar1 ul li
{
    display: inline;
    float: left;
    padding-left: 10px;
    line-height: 40px;
    height: 40px;
}
.navbar1 ul li a:link, a:visited
{
    padding: 24px;
    text-align: center;
    color: dimgray;
    font-size: 16px;
}
.navbar1 ul li a:hover, a:active
{
    color: snow;
    font-size: 16px;
}
.footer p{
    text-align: center;
    margin-bottom: .8em;
    color: dimgray;
}
.footer p i{
    font-size: 48px;
    margin-left: .8em;
}







































